.flag div{background-image: url(../imagens/flags.png); width: 30px; height: 20px;}
.tn_AFG{ background-position: 0 0;  } 
.tn_AHO{ background-position: 0 -40px;  } 
.tn_ALB{ background-position: 0 -80px;  } 
.tn_ALG{ background-position: 0 -120px;  } 
.tn_AND{ background-position: 0 -160px;  } 
.tn_ANG{ background-position: 0 -200px;  } 
.tn_ANT{ background-position: 0 -240px;  } 
.tn_ARG{ background-position: 0 -280px;  } 
.tn_ARM{ background-position: 0 -320px;  } 
.tn_ARU{ background-position: 0 -360px;  } 
.tn_AUS{ background-position: 0 -400px;  } 
.tn_AUT{ background-position: 0 -440px;  } 
.tn_AZE{ background-position: 0 -480px;  } 
.tn_BAH{ background-position: 0 -520px;  } 
.tn_BAN{ background-position: 0 -560px;  } 
.tn_BAR{ background-position: 0 -600px;  } 
.tn_BDI{ background-position: 0 -640px;  } 
.tn_BEL{ background-position: 0 -680px;  } 
.tn_BER{ background-position: 0 -720px;  } 
.tn_BIH{ background-position: 0 -760px;  } 
.tn_BLR{ background-position: 0 -800px;  } 
.tn_BOL{ background-position: 0 -840px;  } 
.tn_BOT{ background-position: 0 -880px;  } 
.tn_BRA{ background-position: 0 -920px;  } 
.tn_BRN{ background-position: 0 -960px;  } 
.tn_BRU{ background-position: 0 -1000px;  } 
.tn_BUL{ background-position: 0 -1040px;  } 
.tn_CAN{ background-position: 0 -1080px;  } 
.tn_CHI{ background-position: 0 -1120px;  } 
.tn_CHN{ background-position: 0 -1160px;  } 
.tn_CMR{ background-position: 0 -1200px;  } 
.tn_COL{ background-position: 0 -1240px;  } 
.tn_CRC{ background-position: 0 -1280px;  } 
.tn_CRO{ background-position: 0 -1320px;  } 
.tn_CUB{ background-position: 0 -1360px;  } 
.tn_CYP{ background-position: 0 -1400px;  } 
.tn_CZE{ background-position: 0 -1440px;  } 
.tn_DEN{ background-position: 0 -1480px;  } 
.tn_DOM{ background-position: 0 -1520px;  } 
.tn_ECU{ background-position: 0 -1560px;  } 
.tn_ECX{ background-position: 0 -1600px;  } 
.tn_EGY{ background-position: 0 -1640px;  } 
.tn_ENG{ background-position: 0 -1680px;  } 
.tn_ESA{ background-position: 0 -1720px;  } 
.tn_ESP{ background-position: 0 -1760px;  } 
.tn_ETH{ background-position: 0 -1800px;  } 
.tn_EU{ background-position: 0 -1840px;  } 
.tn_CIV{ background-position: 0 -1880px;  } 
.tn_EST{ background-position: 0 -1920px;  } 
.tn_FAI{ background-position: 0 -1960px;  } 
.tn_FID{ background-position: -50px 0;  } 
.tn_FIJ{ background-position: -50px -40px;  } 
.tn_FIN{ background-position: -50px -80px;  } 
.tn_FRA{ background-position: -50px -120px;  } 
.tn_GAB{ background-position: -50px -160px;  } 
.tn_GCI{ background-position: -50px -200px;  } 
.tn_GEO{ background-position: -50px -240px;  } 
.tn_GER{ background-position: -50px -280px;  } 
.tn_GHA{ background-position: -50px -320px;  } 
.tn_GRE{ background-position: -50px -360px;  } 
.tn_GUA{ background-position: -50px -400px;  } 
.tn_HAI{ background-position: -50px -440px;  } 
.tn_HKG{ background-position: -50px -480px;  } 
.tn_HON{ background-position: -50px -520px;  } 
.tn_HUN{ background-position: -50px -560px;  } 
.tn_IBC{ background-position: -50px -600px;  } 
.tn_ICS{ background-position: -50px -640px;  } 
.tn_INA{ background-position: -50px -680px;  } 
.tn_IND{ background-position: -50px -720px;  } 
.tn_IPC{ background-position: -50px -760px;  } 
.tn_IRI{ background-position: -50px -800px;  } 
.tn_IRL{ background-position: -50px -840px;  } 
.tn_IRQ{ background-position: -50px -880px;  } 
.tn_ISL{ background-position: -50px -920px;  } 
.tn_ISR{ background-position: -50px -960px;  } 
.tn_ISV{ background-position: -50px -1000px;  } 
.tn_ITA{ background-position: -50px -1040px;  } 
.tn_IVB{ background-position: -50px -1080px;  } 
.tn_JAM{ background-position: -50px -1120px;  } 
.tn_SEN{ background-position: -50px -1160px;  } 
.tn_JCI{ background-position: -50px -1200px;  } 
.tn_JOR{ background-position: -50px -1240px;  } 
.tn_JPN{ background-position: -50px -1280px;  } 
.tn_KAZ{ background-position: -50px -1320px;  } 
.tn_KEN{ background-position: -50px -1360px;  } 
.tn_KGZ{ background-position: -50px -1400px;  } 
.tn_KOR{ background-position: -50px -1440px;  } 
.tn_KSA{ background-position: -50px -1480px;  } 
.tn_KUW{ background-position: -50px -1520px;  } 
.tn_LAT{ background-position: -50px -1560px;  } 
.tn_LBA{ background-position: -50px -1600px;  } 
.tn_LIB{ background-position: -50px -1640px;  } 
.tn_LIE{ background-position: -50px -1680px;  } 
.tn_LTU{ background-position: -50px -1720px;  } 
.tn_LUX{ background-position: -50px -1760px;  } 
.tn_MAC{ background-position: -50px -1800px;  } 
.tn_MAD{ background-position: -50px -1840px;  } 
.tn_MAL{ background-position: -50px -1880px;  } 
.tn_MAR{ background-position: -50px -1920px;  } 
.tn_MAS{ background-position: -50px -1960px;  } 
.tn_MAU{ background-position: -100px 0;  } 
.tn_MAW{ background-position: -100px -40px;  } 
.tn_MDA{ background-position: -100px -80px;  } 
.tn_MDV{ background-position: -100px -120px;  } 
.tn_MEX{ background-position: -100px -160px;  } 
.tn_MGL{ background-position: -100px -200px;  } 
.tn_MKD{ background-position: -100px -240px;  } 
.tn_MLI{ background-position: -100px -280px;  } 
.tn_MLT{ background-position: -100px -320px;  } 
.tn_MMC{ background-position: -100px -360px;  } 
.tn_MNC{ background-position: -100px -400px;  } 
.tn_MNE{ background-position: -100px -440px;  } 
.tn_MOZ{ background-position: -100px -480px;  } 
.tn_MRI{ background-position: -100px -520px;  } 
.tn_MTN{ background-position: -100px -560px;  } 
.tn_MYA{ background-position: -100px -600px;  } 
.tn_NAM{ background-position: -100px -640px;  } 
.tn_NCA{ background-position: -100px -680px;  } 
.tn_NED{ background-position: -100px -720px;  } 
.tn_NEP{ background-position: -100px -760px;  } 
.tn_NGR{ background-position: -100px -800px;  } 
.tn_NIG{ background-position: -100px -840px;  } 
.tn_NO{ background-position: -100px -880px;  } 
.tn_NOR{ background-position: -100px -920px;  } 
.tn_NZD{ background-position: -100px -960px;  } 
.tn_NZL{ background-position: -100px -1000px;  } 
.tn_PAK{ background-position: -100px -1040px;  } 
.tn_PAN{ background-position: -100px -1080px;  } 
.tn_PAR{ background-position: -100px -1120px;  } 
.tn_PER{ background-position: -100px -1160px;  } 
.tn_PHI{ background-position: -100px -1200px;  } 
.tn_PLE{ background-position: -100px -1240px;  } 
.tn_PLW{ background-position: -100px -1280px;  } 
.tn_PNG{ background-position: -100px -1320px;  } 
.tn_POL{ background-position: -100px -1360px;  } 
.tn_POR{ background-position: -100px -1400px;  } 
.tn_PUR{ background-position: -100px -1440px;  } 
.tn_QAT{ background-position: -100px -1480px;  } 
.tn_CPV{ background-position: -100px -1520px;  } 
.tn_ROU{ background-position: -100px -1560px;  } 
.tn_RSA{ background-position: -100px -1600px;  } 
.tn_RUS{ background-position: -100px -1640px;  } 
.tn_RWA{ background-position: -100px -1680px;  } 
.tn_SCG{ background-position: -100px -1720px;  } 
.tn_SCO{ background-position: -100px -1760px;  } 
.tn_SEY{ background-position: -100px -1800px;  } 
.tn_SIL{ background-position: -100px -1840px;  } 
.tn_SIN{ background-position: -100px -1880px;  } 
.tn_SIR{ background-position: -100px -1920px;  } 
.tn_SLE{ background-position: -100px -1960px;  } 
.tn_SLO{ background-position: -150px 0;  } 
.tn_SMR{ background-position: -150px -40px;  } 
.tn_SOL{ background-position: -150px -80px;  } 
.tn_SOM{ background-position: -150px -120px;  } 
.tn_SRB{ background-position: -150px -160px;  } 
.tn_SRI{ background-position: -150px -200px;  } 
.tn_STP{ background-position: -150px -240px;  } 
.tn_SUD{ background-position: -150px -280px;  } 
.tn_SUI{ background-position: -150px -320px;  } 
.tn_SUR{ background-position: -150px -360px;  } 
.tn_SVK{ background-position: -150px -400px;  } 
.tn_SWE{ background-position: -150px -440px;  } 
.tn_SYR{ background-position: -150px -480px;  } 
.tn_TAJ{ background-position: -150px -520px;  } 
.tn_THA{ background-position: -150px -560px;  } 
.tn_TJK{ background-position: -150px -600px;  } 
.tn_TKM{ background-position: -150px -640px;  } 
.tn_TPE{ background-position: -150px -680px;  } 
.tn_TTO{ background-position: -150px -720px;  } 
.tn_TUN{ background-position: -150px -760px;  } 
.tn_TUR{ background-position: -150px -800px;  } 
.tn_UAE{ background-position: -150px -840px;  } 
.tn_UGA{ background-position: -150px -880px;  } 
.tn_UKR{ background-position: -150px -920px;  } 
.tn_URU{ background-position: -150px -960px;  } 
.tn_USA{ background-position: -150px -1000px;  } 
.tn_UZB{ background-position: -150px -1040px;  } 
.tn_VEN{ background-position: -150px -1080px;  } 
.tn_VIE{ background-position: -150px -1120px;  } 
.tn_WLS{ background-position: -150px -1160px;  } 
.tn_YEM{ background-position: -150px -1200px;  } 
.tn_YUG{ background-position: -150px -1240px;  } 
.tn_ZAM{ background-position: -150px -1280px;  } 
.tn_ZIM{ background-position: -150px -1320px;  } 
.tn_GUM{ background-position: -150px -1360px;  } 
.tn_LAO{ background-position: -150px -1400px;  } 
.tn_CGO{ background-position: -150px -1440px;  } 
.tn_TOG{ background-position: -150px -1480px;  } 
.tn_GRB{ background-position: -150px -1520px;  } 
.tn_OMA{ background-position: -150px -1560px;  } 
.tn_CAT{ background-position: -150px -1600px;  } 
.tn_BHU{ background-position: -150px -1640px;  } 
.tn_GAM{ background-position: -150px -1680px;  } 
.tn_GUY{ background-position: -150px -1720px;  } 
.tn_ICC{ background-position: -150px -1760px;  } 
.tn_LES{ background-position: -150px -1800px;  } 
.tn_SWZ{ background-position: -150px -1840px;  } 
.tn_TAN{ background-position: -150px -1880px;  } 
.tn_TLS{ background-position: -150px -1920px;  } 