version: '3.8'

services:
  web:
    build: .
    container_name: arquivodoarbitro
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html
    environment:
      - APACHE_RUN_USER=www-data
      - APACHE_RUN_GROUP=www-data
